/* .resumepage h1,
.resumepage h2,
.resumepage h3,
.resumepage h4,
.resumepage h5,
.resumepage h6 {
  margin-bottom: 10px;
}

.resumepage h2 {
  font-size: 2.25rem;
}

.resumepage h3 {
  font-size: 1.25rem;
} */

/* .section {
  margin: 75px 0;
}

.skillssection {
  margin-bottom: 10px;
} */
